ADMIN_EMAIL:              noreply@admin_email.com
ADMIN_PW:                 admin_password
GMAIL_USERNAME:           app_email_address
GMAIL_PASSWORD:           app_email_password
REPLY_TO:                 SampleName <help@sample.com>

APP_DOMAIN:               www.sample.com
RAILS_MAX_THREADS:        5
WEB_CONCURRENCY:          1
REDIS_URL:                redis://localhost:6379/1
PORT:                     5000

SKYLIGHT_AUTHENTICATION:  skylight_provided_token
