<% title 'Update Submissions' %>
<% heading 'Update Submissions' %>

<%= render 'form' %>

<br>
<%= link_to 'Back', submissions_path, class:'btn btn-block btn-default' %>

<br>
<%= link_to @submission, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-block btn-danger' do %>
  <span class="glyphicon glyphicon-trash"></span>
<% end %>
