$font-family-sans-serif:  "Avenir Next", Helvetica, Arial, sans-serif;
$base-font-size:          16pt;
$base-font-weight:        400;
$title-font-weight:       700;
$base-line-height:        1.5;

$spacing-unit:            50px;

$brand-color:             #ff6b61;
$brand-primary:           #3d6d4f;
$background-color:        #e3eaf0;

$text-color:              #333333;
$link-color:              $brand-primary;
$link-hover-color:        $brand-primary;

/**
    Alerts
**/

.banner-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.banner-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

img {
  max-width: 100%;
  height: auto;
}

.validation-error {
  margin-top: 2px;
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  font-size: smaller;
}

/**
    Site Defaults
**/

html, body {
  background-color: $background-color;
}

h1, h2, h3, h4 {
  font: $font-family-sans-serif;
  font-weight: $title-font-weight;
  color: $brand-primary;
}

p {
  font-weight: $base-font-weight;
}

a {
  color: $link-color;
}

a:hover, a:focus {
  color: $link-hover-color;
}

table {
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}

/**
    Headers
**/

.page-header {
  background-color: $brand-color;
  margin-top: 0;
  padding: 15px;
}

/**
    Footer
**/

.footer {
  font-size: $base-font-size * .4;
  text-align: center;
}
