<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-6" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <!-- link_to root_url do
        image_tag 'logo.png', class:'navbar-brand'
       end -->
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-6">
      <ul class="nav navbar-nav">
         <!-- if user_signed_in?
          <li>LOGGED IN NAVBAR VIEW</li>
         else
            <li>LOGGED OUT NAVBAR VIEW</li>
         end -->
      </ul>
    </div>
  </div>
</nav>
